@import url (https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css); 
#mock-map{
	width: 100%;
}
.eventSearch{
	margin-top: 100px;
}
.eventResults{
	margin-top: 100px;
}
#searchMap{
	margin-top: 50px;
	min-width: 100%
}
.modalMap{
	min-height: 100%;
}
.reviews{
	margin-top: 50px;
}