<!-- Events Page -->

<div class="container">
    <h2 class="center">Header Text</h2>
    <div class="row center">
        <h3 class="col s12">Lorem ipsum dolor sit amet, pellentesque rhoncus, vel malesuada. Per amet a, vulputate et mi, mattis vitae. Bibendum arcu urna, ligula praesent.</h3>
        <a class="waves-effect waves-light btn-large" data-target="eventModal" modal>Create an Event</a>
    </div>
    <div class="col">
    <a class='btn' href='#demoModal' modal>Show Modal</a>
</div>
<!-- Modal Structure -->
<div id="demoModal" class="modal">
    <div class="modal-content">
        <h4>Modal header</h4>
        <p>A bunch of text</p>
    </div>
</div>
<!-- Modal -->
<div id="eventModal" class="modal">
	<div class="modal-content">
		<h2>I'm a Modal</h2>
	</div>

</div>