<!-- Events Page -->
<div class="container" ng-init="addText()">
    <h2 class="center">{{pageHeader.title}}</h2>
    <div class="row center">
        <h3 class="col s12">{{pageHeader.content}}</h3>
        <a class="btn-large" ng-click="addEventButton()">Create an Event</a>
    </div>
</div>
<!-- Create Modal -->
<div id="createModal" class="modal" >
    <form name="createModal">
    <div class="container">
        <h3>Add Event</h3>
        <div class="row">
            <div class="input-field col s12">
                <input id="eventName" type="text" class="validate" ng-model="newEventName" name="eventName"required>
                <label for="eventName">Event Name</label>
            </div>
            <div class="input-field col s12">
                <input id="eventAddress" type="text" class="validate" ng-model="newEventAddress">
                <label for="eventAddress">Event Address</label>
            </div>
            <div class="input-field col s12 m6">
                <input id="eventZip" type="number" class="validate" ng-model="newEventZip" name="eventZip"ng-minlength="5" ng-maxlength="5">
                <label for="eventZip">Zip Code of Event</label>
                <div role="alert">
                  <span class="error" ng-show="createModal.eventZip.$error.minlength || createModal.eventZip.$error.maxlength">
                    Not a valid zip code</span>
                </div>
            </div>
            <div class="input-field col s12 m6">
                <input id="eventDate" type="date" class="datepicker" ng-model="newEventDate">
                <label for="eventDate">Date</label>
            </div>
            <div class="input-field col s12">
                <textarea id="eventDesc" class="materialize-textarea" ng-model="newEventDescr"></textarea>
                <label for="eventDesc">Event Description</label>
             </div>
             <div ng-show="multipleLocations">
                <p>Test</p>
            </div>
             <div class="col s6 right-align">
                <a class="btn" type="button" ng-click="addEvent()">Submit</a>
            </div>
            <div class="col s6 left-align">
                <a class="btn modal-action modal-close">Cancel</a>
            </div>
         </div>
     </div> 
     </form>
</div>
<!-- End of Create Modal -->

<div class="container">
    <div class="row eventSearch">
        <!-- #eventName, #eventType, and #eventZip will leverage jQuery UI's 
        autocomplete feature  -->
        <div class="input-field col s12 l6">
            <input id="eventName" type="text" class="validate" ng-model="eventName" ng-change="customFilter(eventName)">
            <label for="eventName">Search Events</label>       
        </div>
    </div>

    <div class="row center">
        <ul class="tabs s4" tabs>
            <li class="tab"><a class="active teal-text" ng-click="changeTab('events.map-view')">Map</a></li>
            <li class="tab"><a class="teal-text" ng-click="changeTab('events.tile-view')">Tiles</a></li>      
        </ul>
    </div>
    <div class="row" ui-view></div>
</div>