<div class="container">
	<h2>{{currEvent.name}}</h2>
	<p>{{currEvent.description}}</p>
	<p>{{currEvent.address}}</p>
	<p ng-show="currEvent.city">{{currEvent.city}}, {{currEvent.state}}</p>
	<div class="row">
		<div class="col s12 l4">
			<table>
				<thead>
					<tr>
						<th>People Attending</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="user in currEvent.usersAttending">
						<td>{{user.name}}</td>
					</tr>
					<tr ng-show="!currEvent.usersAttending || currEvent.usersAttending.length == 0">
						<td>Nobody is Currently Attending this Event!</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col s12">
			<button class="btn" id="attend-btn" ng-click="attendEvent()">Attend this Event!</button>
		</div>
	</div>

	<div class="create-comment row">
		<div class="row">
	    <form class="col s12">
	      <div class="row">
	        <div class="input-field col s12">
	          <textarea ng-model="newComment" id="comment" class="materialize-textarea" type="text" placeholder=""></textarea>
	          <label for="comment">Comment on this event!</label>
	        </div>
	      </div>
	      <button id="submit-comment" class="btn" ng-click="submitComment()" ng-disabled="!newComment ||  newComment.length < 1">Submit!</button>
	    </form>
	  </div>
	</div>

	<div>
		<h2>Comments</h2>
	</div>

	<div ng-show="comments.length == 0">
		<p>Be the first to comment!</p>
	</div>

	<div class="reviews" ng-repeat="comment in comments">
		<ol>
			<div class="comment">
				<p>{{comment.content}}</p>
				<p><b>-{{comment.owner.name}}</b></p>
			</div>
		</ol>
	</div>
</div>