<!-- Home Page -->

<!-- <div class="backgroundImg" style = "background-image: url()">
    <span id="textOverlay">Image Text Overlay</span>
</div> -->
<div class="container" ng-init="init(); addText()">
    <h2 class="center">{{pageHeader.title}}</h2>
    <div class="row center">
        <h3 class="col s12">{{pageHeader.content}}</h3>
    </div>
</div>
<div class="container">
    <div class="row" >
        <div class="col s12 l4">
            <h2 class="center">
                <i class="medium material-icons">event_available</i>
            </h2>   
            <h4 class="center">{{sections.colOne.title}}</h4>
            <p class="center light">{{sections.colOne.content}}</p>
        </div>
        <div class="col s12 l4">            
            <h2 class="center">
                <i class="medium material-icons center">cake</i>
            </h2>    
            <h4 class="center">{{sections.colTwo.title}}</h4>
            <p class="center light">{{sections.colTwo.content}}</p>
        </div>
        <div class="col s12 l4">
            <h2 class="center">
                <i class="center medium material-icons">group</i>
            </h2>   
            <h4 class="center">{{sections.colThree.title}}</h4>
            <p class="center light">{{sections.colThree.content}}</p>
        </div>
    </div>
</div>   
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col s6">
            <h4>{{map.title}}</h4> 
            <p>{{map.content}}</p>

        </div>
        <div ng-init="drawMap()">
            <div class="col s12 l6 homeMap" id="map"></div>
        </div>
        
    </div>
</div>

