<div class="row">
	<div class="col s12">
		<ul class="tabs">
			<li class="tab col s6"><a class="active" href="#signIn">Sign In</a></li>
			<li class="tab col s6"><a href="#signUp">Sign Up</a></li>
		</ul>
	</div>
	<br>
	<br>
	<div id="signIn" class="col s12">
		<form id="signInForm">
			<div class="row">
				<div class="input-field col s12">
					<input id="signInEmail" type="email" class="validate">
					<label for="signInEmail">Email</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input id="signInPassword" type="password" class="validate">
					<label for="signInPassword">password</label>
				</div>
			</div>
			<button type="submit" class="btn waves-effect waves-light">Login<i class="material-icons right">send</i></button>
			<div id="emailPasswordError" class="chip red white-text">
					<i class="material-icons left">error</i>
					Invalid Email or Password
				</div>
		</form>
	</div>
	<div id="signUp" class="col s12">
		<form id="signUpForm">
			<div class="row">
				<div class="input-field col s12">
					<input id="name" type="text" class="validate">
						<label for="name">Name</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input id="signUpEmail" type="email" class="validate">
					<label for="signUpEmail">Email</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input id="signUpPassord" type="password" class="validate">
					<label for="signUpPassord">Password</label>
				</div>
			</div>
			<button type="submit" class="btn waves-effect waves-light">Sign Up<i class="material-icons right">send</i></button>
		</form>
	</div>
</div>
<div class="row">
	<div class="col s6 m3">
		<button type="button" id="facebook" class="providerButton btn waves-effect light-blue darken-4 white-text"><i class="fa fa-facebook"></i></button>
	</div>
	<div class="col s6 m3">
		<button type="button" id="twitter" class="providerButton btn waves-effect light-blue lighten-1 white-text"><i class="fa fa-twitter"></i></button>
	</div>
	<div class="col s6 m3">
		<button type="button" id="google" class="providerButton btn waves-effect red darken-1 white-text"><i class="fa fa-google"></i>+</button>
	</div>
	<div class="col s6 m3">
		<button type="button" id="github" class="providerButton btn waves-effect blue-grey lighten-3 black-text"><i class="fa fa-github"></i></button>
	</div>
</div>