<!-- Home Page -->

<div class="backgroundImg" style = "background-image: url()">
    <span id="textOverlay">Image Text Overlay</span>
</div>
<div class="container">
    <h2 class="center">Header Text</h2>
    <div class="row center">
        <h3 class="col s12">Lorem ipsum dolor sit amet, pellentesque rhoncus, vel malesuada. Per amet a, vulputate et mi, mattis vitae. Bibendum arcu urna, ligula praesent.</h3>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col s12 l4">
            <h2 class="center">
                <i class="medium material-icons">event_available</i>
            </h2>   
            <h4 class="center">Text Header 1</h4>
            <p class="center light">Lorem ipsum dolor sit amet, mollis dui, elementum in purus et metus donec, wisi maecenas vitae pretium sit. Aenean dignissim vitae ac eu metus ut, dolor sem mauris. Ut purus molestie rutrum suspendisse et justo, tortor morbi eu sit at semper, turpis nisl dui, quam libero tempus, nulla at massa hac. Massa cursus aenean diam sapien, semper risus ipsum lacus tortor est, posuere malesuada facilisi arcu, lobortis ligula habitasse nullam pellentesque.</p>
        </div>
        <div class="col s12 l4">            
            <h2 class="center">
                <i class="medium material-icons center">near_me</i>
            </h2>    
            <h4 class="center">Text Header 2</h4>
            <p class="center light">Lorem ipsum dolor sit amet, mollis dui, elementum in purus et metus donec, wisi maecenas vitae pretium sit. Aenean dignissim vitae ac eu metus ut, dolor sem mauris. Ut purus molestie rutrum suspendisse et justo, tortor morbi eu sit at semper, turpis nisl dui, quam libero tempus, nulla at massa hac. Massa cursus aenean diam sapien, semper risus ipsum lacus tortor est, posuere malesuada facilisi arcu, lobortis ligula habitasse nullam pellentesque.</p>
        </div>
        <div class="col s12 l4">
            <h2 class="center">
                <i class="center medium material-icons">add_a_photo</i>
            </h2>   
            <h4 class="center">Text Header 3</h4>
            <p class="center light">Lorem ipsum dolor sit amet, mollis dui, elementum in purus et metus donec, wisi maecenas vitae pretium sit. Aenean dignissim vitae ac eu metus ut, dolor sem mauris. Ut purus molestie rutrum suspendisse et justo, tortor morbi eu sit at semper, turpis nisl dui, quam libero tempus, nulla at massa hac. Massa cursus aenean diam sapien, semper risus ipsum lacus tortor est, posuere malesuada facilisi arcu, lobortis ligula habitasse nullam pellentesque.</p>
        </div>
    </div>
</div>   
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col s12 l6">
            <h4>Top Five Events </h4> 
                <ul>
                    <li>One</li>
                    <li>Two</li>
                    <li>Three</li>
                    <li>Four</li>
                    <li>Five</li>
                </ul>
        </div>
    </div>
    <div class="row">
        <div class="col s12 l6">
            <h4>Most Active Users</h4> 
                <ul>
                    <li>One</li>
                    <li>Two</li>
                    <li>Three</li>
                    <li>Four</li>
                    <li>Five</li>
                </ul>
        </div>
    </div>
    <div class="row">
        <div class="col s12 l6">
            <h4>Top Event Neighborhoods</h4> 
                <ul>
                    <li>One</li>
                    <li>Two</li>
                    <li>Three</li>
                    <li>Four</li>
                    <li>Five</li>
                </ul>
        </div>
    </div>
</div>

