<!-- Profile page -->
<!-- <div class="backgroundImg" style = "background-image: url()">
    <span id="textOverlay">Image Text Overlay</span>
</div>
<div class="container"> -->
<div class="container">
    <h2 class="center" ng-show="ready && loggedIn">Your Profile</h2>
    
    <div class="row center" ng-show=" ready && !loggedIn">
        <h3 class="col s12">You must be signed in to view your profile page</h3>
    </div>
</div>   

<div class="container" ng-show="ready && loggedIn">
	<div class="row profileInfo">
		<div class="col s4">
			<img src="{{image}}" class="circle responsive-img">
		</div>
		<div class="col s4">
			<ul>
				<li ng-show="currentUser.name.length > 0"><h5>{{currentUser.name}}</h5></li>
				<li ng-show="currentUser.email.length > 0"><h5>{{currentUser.email}}</h5></li>
			</ul>
		</div>
	</div>
	<div class="row profileTable">
		<div class="col s12 l4">
			<table>
				<thead>
					<tr>
						<th>Planned Events</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="event in currentUser.eventsAttending">
						<td>{{event}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col s12 l4">
			<table>
				<thead>
					<tr>
						<th>Events Created</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="event in currentUser.eventsOwned">
						<td>{{event}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
