<!-- Profile page -->
<!-- <div class="backgroundImg" style = "background-image: url()">
    <span id="textOverlay">Image Text Overlay</span>
</div>
<div class="container"> -->
<div class="container">
    <h2 class="center">Header Text</h2>
    <div class="row center">
        <h3 class="col s12">Lorem ipsum dolor sit amet, pellentesque rhoncus, vel malesuada. Per amet a, vulputate et mi, mattis vitae. Bibendum arcu urna, ligula praesent.</h3>
    </div>
</div>   

<div class="continer">
	<div class="row profileInfo">
		<div class="col s4">
			<img src="https://upload.wikimedia.org/wikipedia/commons/7/77/SpaceNeedleTopClose.jpg" class="circle responsive-img">
		</div>
		<div class="col s4">
			<ul>
				<li><h5>Username</h5></li>
				<li><h5>Account Info</h5></li>
				<li><h5>Account Info</h5></li>
			</ul>
		</div>
		<div class="col s4">
			<ul>
				<li class="center-align"><a class="btn" href="#">Event Trends</a></li>
				<li class="center-align" style="margin-top:20px"><a class="btn" href="#">Upload Photos</a></li>
			</ul>
		</div>
	</div>
	<div class="row profileTable">
		<div class="col s12 l4">
			<table>
				<thead>
					<tr>
						<th>Planned Events</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Placeholder</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col s12 l4">
			<table>
				<thead>
					<tr>
						<th>Events Created</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Placeholder</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col s12 l4">
			<table>
				<thead>
					<tr>
						<th>Liked Comments</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Placeholder</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>